# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.settings
.cache-main
.project
.classpath
RUNNING_PID
ensime-langserver
.metals/
pc.stdout
/project/.bloop
.bloop/
.metals/metals.log
.metals/metals.h2.db
.metals/metals.h2.db
.metals/metals.log
.metals/metals.log
