@* SellerYes Template File *@
@import scala.collection.mutable.ArrayBuffer
@(cliente: Option[Cliente])(ase: Option[Aseguradora])(bien: Option[Bien])(crede: Option[Credencial])(ven: Option[Vendedor])(cat: Option[Categoria])(lista: Option[ArrayBuffer[Aseguradora]])

<!DOCTYPE html>
<html lang = "e">

<head>
	<title> </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<h1> Cliente: @cliente.map(_.nombre)</h1>
	<h1> Aseguradora: @ase.map(_.nombre)</h1>
	<h1> Bien: @bien.map(_.id)</h1>
	<h1> Credencial: @crede.map(_.usuario)</h1>
	<h1> Vendedor: @ven.map(_.nombre)</h1>
	<h1> Categoria: @cat.map(_.nombre)</h1>
	<h1> Lista: @lista</h1>
</body>

</html>
